@font-face {
    font-family: 'norican';
    src: url('./fonts/norican/norican-regular-webfont.woff2') format('woff2'),
         url('./fonts/norican/norican-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish';
    src: url('./fonts/mulish/mulish-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/mulish/mulish-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root{
    font-size: 62.5%;
    --primary-color : #1C658C;
    --secondary-color :#398AB9 ;
    --tierce-color : #D8D2CB;
    --effect-color : coral;
    --white-color : #FFFF;
}


@media screen and (max-width : 950px ) {
    :root{
        font-size: 50%;
    }
}

@media screen and (max-width : 600px ) {
    :root{
        font-size: 40%;
    }
}

@media screen and (min-width : 1800px ) {
    :root{
        font-size: 80%;
    }
}

body{
    font-size: 1.6rem;
    /* Permet avec .contents de coller le footer en bas de page*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contents{
    flex-grow: 1;
}

*,::before,::after{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.main-layout{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
}

.title{
    margin-top: 9rem;
    font-size: 2.5rem;
    text-align: center;
}

hr{
    margin-bottom: 5rem;
    height: 2px;
    border: none;
    background-color: black;
    /* border: none; */
}

/* Home */

.home_header{
    height: 100vh;
    background-image: url("../images/home_background.jpg");
    background-size: cover;
}

nav{
    background-color: var(--primary-color);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 100;
}

header nav ul{
    display : flex;
    justify-content: space-evenly;
    list-style: none;
}

.navlink{
    text-decoration: none;
    color:var(--white-color) ;
    position: relative;
    font-family: "norican";
    font-size: 2.2rem;
    transition: color 0.3s ease-out;
}
.navlink::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: -13%;
    transform: scale(0);
    transform-origin: center;
    width: 130%;
    height: 2px;
    background-color: var(--effect-color);
    transition: transform 0.3s ease-in-out;
}

.navlink:hover::before{
    transform: scale(1);
}

.navlink:hover{
    color: var(--effect-color);
}

header h1{
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 8rem;
    font-family: 'norican', sans-serif;
}
.home-img{
    float: left;
    margin: 0px 10px 0px 0px;
}

@media screen and (max-width : 700px) {
    .home-img{
        display: none;
    }
}

#description{
    padding: 2.5rem 0;
}

#description p{
    font-size:1.8rem;
    text-justify: inter-word;
    margin-bottom: 1rem;
    line-height: 28px;
    font-weight: 600;
    font-family: "mulish" , serif ;
}

.first-paragraphe::first-letter {
    font-size:5rem;
    padding-right:0.1em;
    float:left;
    color:var(--effect-color);
    margin-top: -10px;
  }

#video{
    background-color: var(--secondary-color);
}

.video{
    text-align: center;
    padding: 2.5rem 0;

}
iframe{
    width: 80%;
    height: auto;
    aspect-ratio: 16/9;
}

/* Footer */

footer{
    background-color: var(--primary-color);
    text-align: center;
 
}

footer p{
    font-size: 1.8rem;
    padding: 1.5rem 0;
    color: var(--white-color);
}


/* quizz */

.input-container{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--tierce-color);
}

input{
    border: none;
    outline: none;
}

#quizz .input-ask{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


input[type="text"] {
    border: none;
    padding: 0.5rem;
    outline: none;
   }

   input[type="number"]{
       padding: 0.1rem;
       width: 100px; 
   }

   /* input[type="select"]{
       padding: 0.3rem;
       width: 40rem
   } */

   .input-select{
       padding: 0.3rem;
       width: 40rem;
       outline: none;
    border: none;
   }

   #quizz textarea{
       padding:1rem;
       border: none;
       outline: none;
   }

.btn{
    padding : 0.7em;
    border: none;
    display: block;
    cursor: pointer;
}

.btn-form{
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: var(--secondary-color);
    width: 50%;
    border-radius: 50px; 
    margin-top: 3rem;   
    font-weight: bold;
    font-size: 1.5rem;
    transition : all 0.3s ease-out;
}

.btn-form:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* Galerie */

#galerie{
    margin-bottom: 6rem;
}

.galerie-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    align-content: center;
}

.img-container{
    width: 280px;
    height: 280px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 36px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.img-container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--effect-color);
    z-index: -1;
    transition: transform 0.3s ease-out;
    border-radius: 5px;
}

.img-container:hover::before{
    transform: rotate(5deg) scale(1.05);
}

@media screen and (max-width : 967px) {
    .img-container{
        width: 250px;
        height: 250px;
    }
}

.img-container img {
    height: inherit;
    width: inherit;
    border-radius: 5px;
    object-fit: cover;
    transition : transform 0.3s ease-out;
}

.img-container img:hover{
    transform: scale(1.05);
}



